.back-to-top{
    display: none;
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: white;
    background-color: #2b373a;
    font-size: 12px;
    padding: 1em;
  cursor: pointer;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.back-to-top:hover {
    background-color: rgba(235, 235, 235, 0.80);
    text-decoration: none;
    color: black;
}